@charset "UTF-8";
/* кольори */
/* bad $color-background-dark: rgb(25, 28, 38, 0.2); */
/* шрифти
  Open Sans 400 600
  Raleway 700
  */
/* other */
/*reset*/
h1,
h2,
h3,
h4,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.img {
  display: block;
  margin: 0px;
  width: 100%;
  height: auto;
}

/*reset*/
body {
  background-color: rgb(255, 255, 255);
  color: rgb(85, 85, 85);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0.03em;
}

.container {
  max-width: 480px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid tomato; */
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    max-width: 100%;
  }
}

.link:hover,
.link:focus {
  color: rgb(255, 108, 0);
}

.btn {
  width: 160px;
  height: 40px;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 25px;
  border-color: rgb(255, 108, 0);
}

.btn:hover,
.btn:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 108, 0);
}

.btn--light {
  background-color: transparent;
  color: rgb(255, 255, 255);
}

.btn--dark {
  background-color: transparent;
  color: var(--color-titleleft-text);
}

.title--light {
  color: rgb(255, 255, 255);
}

.subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
}
.subtitle::before {
  display: inline-block;
  margin-right: 20px;
  content: "";
  width: 60px;
  height: 1px;
  background: rgba(157, 164, 189, 0.6);
}
.subtitle::before .subtitle--dark {
  background: rgb(48, 48, 48);
}

.subtitle--light {
  color: rgba(157, 164, 189, 0.6);
}

.subtitle--dark {
  color: var(--color-titleleft-text);
}

.title-second {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 1200px) {
  .title-second {
    font-size: 42px;
    line-height: 1.1666666667;
  }
}

.title-second--dark {
  color: var(--color-titleleft-text);
}

.subtitle-second {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
}

.subtitle-second--position {
  margin-top: 44px;
  margin-bottom: 44px;
}
@media screen and (max-width: 1199px) {
  .subtitle-second--position {
    text-align: center;
  }
}

.subtitle-second--position.title--light {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .subtitle-second--position.title--light {
    text-align: left;
  }
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  /* or 167% */
  letter-spacing: 0.02em;
  /* or 167% */
}
@media screen and (min-width: 768px) {
  .text {
    font-size: 18px;
    line-height: 1.6666666667;
  }
}

.text--light {
  color: rgb(157, 164, 189);
}

.text--dark {
  color: var(--color-text-prime);
}

.subtext {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8571428571;
  /* or 186% */
  letter-spacing: 0.02em;
}

/* animation */
@-webkit-keyframes left-to-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes left-to-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes top-to-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes top-to-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes bottom-to-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bottom-to-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  6% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  8% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  14% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  6% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  8% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  14% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
/* Header */
.section__header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  -webkit-transition: background-image var(--anim-slow), -webkit-backdrop-filter var(--anim-slow);
  transition: background-image var(--anim-slow), -webkit-backdrop-filter var(--anim-slow);
  transition: background-image var(--anim-slow), backdrop-filter var(--anim-slow);
  transition: background-image var(--anim-slow), backdrop-filter var(--anim-slow), -webkit-backdrop-filter var(--anim-slow);
  /* outline: 2px solid rgb(71, 255, 83); */
}
.section__header .menu-toggle {
  fill: rgb(255, 255, 255);
}

.section__header.no-transparency {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.7)), to(rgba(25, 28, 38, 0.1)));
  background-image: linear-gradient(to bottom, rgba(25, 28, 38, 0.7), rgba(25, 28, 38, 0.1));
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.logo__link {
  display: inline-block;
  /* outline: 2px solid tomato; */
}
@media screen and (min-width: 768px) {
  .logo__link {
    margin-right: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .logo__link {
    margin-right: 132px;
  }
}

.header__logo-img {
  fill: rgb(48, 48, 48);
}

.section__header.no-transparency .header__logo-img {
  fill: rgb(255, 255, 255);
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 800ms ease, -webkit-backdrop-filter 800ms ease;
  transition: background-color 800ms ease, -webkit-backdrop-filter 800ms ease;
  transition: background-color 800ms ease, backdrop-filter 800ms ease;
  transition: background-color 800ms ease, backdrop-filter 800ms ease, -webkit-backdrop-filter 800ms ease;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 31px;
  padding-right: 31px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .header-right {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding-left: 31px;
    padding-right: 31px;
    min-width: 480px;
    max-width: 767px;
  }
}
@media screen and (min-width: 768px) {
  .header-right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 768px;
    max-width: 1199px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .header-right {
    width: 1200px;
    max-width: 100%;
    padding-left: 0px;
    padding-right: 17px;
  }
}

.list-header-right {
  display: none;
}
@media screen and (min-width: 768px) {
  .list-header-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

.header__nav {
  position: relative;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.1em;
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 1200px) {
  .header__nav {
    padding-top: 52px;
    padding-bottom: 52px;
  }
}
.header__nav::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 20%;
  -webkit-transform: translateX(-50%) scaleX(0.3);
          transform: translateX(-50%) scaleX(0.3);
  display: block;
  width: 95%;
  height: 4px;
  border-radius: 2px;
  background-color: rgb(255, 108, 0);
  opacity: 0;
  -webkit-transition: opacity 300ms ease-out, -webkit-transform 300ms ease-out;
  transition: opacity 300ms ease-out, -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out, opacity 300ms ease-out;
  transition: transform 300ms ease-out, opacity 300ms ease-out, -webkit-transform 300ms ease-out;
}
.header__nav:hover::after, .header__nav:focus::after {
  -webkit-transform: translateX(-50%) scaleX(1);
          transform: translateX(-50%) scaleX(1);
  opacity: 1;
}

.current {
  color: rgb(255, 108, 0);
}

.header__contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    gap: 43px;
  }
}

.header__btn {
  -webkit-animation: heartbeat 5s ease-in-out infinite both;
          animation: heartbeat 5s ease-in-out infinite both;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__btn {
    margin-top: 44px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__phone {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 20px;
    padding-bottom: 10px;
  }
}

/* header */
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu-toggle {
  max-height: 40px;
  max-width: 40px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  fill: rgb(255, 108, 0);
}

.menu-container {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-left: 40px;
  background-color: rgb(255, 255, 255);
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
.menu-container.is-open {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}
.menu-container .menu-toggle {
  position: absolute;
  top: 48px;
  right: 30%;
}
@media screen and (min-width: 768px) {
  .menu-container .menu__nav, .menu-container .menu__contacts, .menu-container .menu-media__list {
    display: none;
  }
}

.menu__nav {
  margin-top: 118px;
}

.menu__header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
}

.menu__link {
  font-size: 18px;
  line-height: 1.3888888889;
  /* identical to box height */
  letter-spacing: 0.1em;
  color: rgb(48, 48, 48);
}
.menu__link:hover {
  color: rgb(255, 108, 0);
}

.menu__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
  margin-top: 64px;
}

.menu__phone {
  text-transform: uppercase;
}

.menu-media__list {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
  margin-top: 64px;
  margin-left: 100px;
}

.menu-media__item:before {
  position: relative;
  left: -100%;
  top: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: rgb(48, 48, 48);
}

.menu-media__link {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3571428571;
  /* identical to box height */
  letter-spacing: 0.2em;
  color: rgb(48, 48, 48);
  -webkit-transition: color 300ms ease-out;
  transition: color 300ms ease-out;
}
.menu-media__link:hover, .menu-media__link:focus {
  color: rgb(255, 108, 0);
}

.menu__btn {
  width: 194px;
}

/* Hero */
.section__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  /* for backgrond img */
  /* sbackground-color: $color-background-dark; */
  /* outline: 2px solid rgb(71, 255, 83); */
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .section__hero {
    min-width: 480px;
    max-width: 767px;
  }
}
@media screen and (min-width: 768px) {
  .section__hero {
    min-width: 768px;
    max-width: 1200px;
  }
}
@media screen and (min-width: 1200px) {
  .section__hero {
    width: 1200px;
    margin: 0 auto;
  }
}

/* hero-header-left */
.hero__left-side {
  display: none;
  /* outline: 2px solid tomato; */
}
@media screen and (min-width: 768px) {
  .hero__left-side {
    width: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.hero__media-list {
  -webkit-transform: rotate(-90deg) translateY(40px);
          transform: rotate(-90deg) translateY(40px);
  -webkit-transform-origin: left;
          transform-origin: left;
  /* outline: 2px solid rgb(111, 71, 255); */
}

.media__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.media__list::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: rgb(48, 48, 48);
}

.media__link {
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: rgb(48, 48, 48);
  -webkit-transition: color 300ms ease-out;
  transition: color 300ms ease-out;
}
.media__link:hover, .media__link:focus {
  color: rgb(255, 108, 0);
}

/* hero-header-left */
.container__hero--position {
  max-width: 480px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid tomato; */
}
@media screen and (min-width: 480px) {
  .container__hero--position {
    max-width: 768px;
  }
}
@media screen and (min-width: 768px) {
  .container__hero--position {
    max-width: 1200px;
  }
}
@media screen and (min-width: 1200px) {
  .container__hero--position {
    width: 1200px;
    max-width: 100%;
  }
}

.container__hero {
  position: relative;
  width: 100%;
  display: block;
  padding-top: 208px;
  padding-bottom: 209px;
  padding-left: 31px;
  /* outline: 2px solid rgb(193, 206, 42); */
}
@media screen and (max-width: 479px) {
  .container__hero {
    background-color: rgb(17, 19, 25);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/hero/Sliderimg480_480@1x-min.jpg");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/Sliderimg480_480@1x-min.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (max-width: 479px) and (min-device-pixel-ratio: 2), screen and (max-width: 479px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 479px) and (min-resolution: 192dpi), screen and (max-width: 479px) and (min-resolution: 2dppx) {
  .container__hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/hero/Sliderimg480_480@2x-min.jpg");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/Sliderimg480_480@2x-min.jpg");
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container__hero {
    background-color: rgb(17, 19, 25);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/hero/Sliderimg768 _768@1x-min.jpg");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/Sliderimg768 _768@1x-min.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .container__hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/hero/Sliderimg768 _768@2x-min.jpg");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/Sliderimg768 _768@2x-min.jpg");
  }
}
@media screen and (min-width: 768px) {
  .container__hero {
    padding-top: 272px;
    padding-bottom: 237px;
    padding-left: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/hero/Sliderimg1200@1x-min.jpg");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/Sliderimg1200@1x-min.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .container__hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/hero/Sliderimg1200@2x-min.jpg");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/Sliderimg1200@2x-min.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .container__hero {
    padding-top: 272px;
    padding-bottom: 208px;
    padding-left: 100px;
  }
}

.hero__prime {
  display: inline-block;
  text-align: left;
  margin-left: 0px;
  margin-top: 0px;
}

.hero__title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1666666667;
  /* identical to box height */
  letter-spacing: 0.05em;
  -webkit-animation: left-to-right 800ms ease;
          animation: left-to-right 800ms ease;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 72px;
    line-height: 1.1805555556;
    /* identical to box height */
  }
}

.hero__subtitle {
  -webkit-animation: top-to-bottom 800ms ease;
          animation: top-to-bottom 800ms ease;
}

.hero__text {
  -webkit-animation: bottom-to-top 800ms ease;
          animation: bottom-to-top 800ms ease;
}

/*slider-pagination*/
.slider-pagination--position {
  position: absolute;
  top: 50%;
  right: 20px;
}
@media screen and (max-width: 767px) {
  .slider-pagination--position {
    display: none;
  }
}

.slider-pagination__item {
  width: 8px;
  height: 2px;
  margin-bottom: 12px;
  margin-left: auto;
  background-color: rgb(157, 164, 189);
}

.slider-pagination__item.long {
  width: 18px;
  background-color: rgb(255, 255, 255);
}

.slider-pagination__item:last-child {
  margin-bottom: 0px;
}

/*slide__btns*/
.slide__btns {
  position: absolute;
  bottom: 40px;
  right: 20px;
}
@media screen and (max-width: 767px) {
  .slide__btns {
    display: none;
  }
}

.slide__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  font-size: 11px;
  line-height: 1.3636363636;
  /* identical to box height */
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
  .slide__list {
    display: none;
  }
}

.slider__btn {
  display: inline-block;
  padding: 0;
  min-width: 60px;
  min-height: 24px;
  color: rgba(157, 164, 189, 0.6);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.6);
  cursor: pointer;
}

.slider__btn.prev {
  text-align: left;
}

.slider__btn.next {
  text-align: right;
}

.slider__btn.active {
  color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
}

/*hero*/
/* About light*/
.section__about {
  margin-top: 84px;
  margin-bottom: 84px;
  /* outline: 2px solid rgb(23, 7, 243); */
}
@media screen and (min-width: 768px) {
  .section__about {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .section__about {
    margin-top: 120px;
    margin-bottom: 120px;
  }
}
.section__about .title-second {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .section__about .title-second {
    max-width: 306px;
  }
}

.container__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
  /* gap: 30px; */
  /* outline: 2px solid tomato; */
}
@media screen and (min-width: 768px) {
  .container__about {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.about__list-img {
  /* outline: 2px solid rgb(243, 7, 7); */
}
@media screen and (max-width: 767px) {
  .about__list-img {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .about__list-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about__list-img {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.about-description {
  padding: 0px;
  display: inline-block;
  height: 100%;
  margin: 0px;
  max-width: 418px;
  /* outline: 2px solid rgb(206, 42, 42); */
}
@media screen and (min-width: 768px) {
  .about-description {
    max-width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .about-description {
    max-width: 470px;
  }
}

.about-description__item {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}

.about-description__item-last {
  margin-bottom: 0px;
  width: 100%;
}

.btn-about {
  margin-top: 42px;
}
@media screen and (max-width: 767px) {
  .btn-about {
    margin-top: 40px;
  }
}

/* About light*/
/* prices dark */
.section__prices {
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(17, 19, 25);
  /* for backgrond img */
  max-width: 480px;
  background-image: url("../images/prices/img480_480@1x-min.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 480px) {
  .section__prices {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .section__prices {
    max-width: 1600px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section__prices {
    background-image: url("../images/prices/img480_480@2x-min.png");
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .section__prices {
    background-image: url("../images/prices/img768_768@1x-min.png");
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .section__prices {
    background-image: url("../images/prices/img768_768@1x-min.png");
  }
}
@media screen and (min-width: 768px) {
  .section__prices {
    background-image: url("../images/prices/img1200_1600@1x-min.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section__prices {
    background-image: url("../images/prices/img1200_1600@1x-min.png");
  }
}

.container__prices {
  display: block;
  padding-top: 84px;
  padding-bottom: 84px;
  /* outline: 2px solid tomato; */
}
@media screen and (min-width: 768px) {
  .container__prices {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .container__prices {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.container__prices .title-second {
  margin-top: 20px;
  margin-bottom: 44px;
}
@media screen and (max-width: 767px) {
  .container__prices .title-second {
    text-align: center;
  }
}

.prices__title-second {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1666666667;
  /* identical to box height */
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .prices__title-second {
    font-size: 40px;
    line-height: 1.175;
  }
}

.prices__title-second--position {
  margin-top: 20px;
  margin-bottom: 44px;
}
@media screen and (max-width: 767px) {
  .prices__title-second--position {
    text-align: center;
  }
}

.price__subtext {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
  /* or 186% */
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .price__subtext {
    font-size: 18px;
    line-height: 1.6666666667;
  }
}

.price__btn {
  display: block;
  margin-top: 44px;
  margin-left: auto;
  margin-right: auto;
}

.prices__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media screen and (max-width: 1199px) {
  .prices__lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
}

.price__list {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 20px;
  /* outline: 2px solid tomato; */
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .price__list {
    min-width: 418px;
    max-width: 703px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .price__list {
    padding: 40px 32px;
    min-width: 703px;
    max-width: 703px;
  }
}
@media screen and (min-width: 1200px) {
  .price__list {
    width: 570px;
    padding: 30px 20px;
  }
}
.price__list:first-child {
  padding-bottom: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(23, 26, 36)), to(rgba(23, 26, 36, 0.2)));
  background-image: linear-gradient(180deg, rgb(23, 26, 36) 0%, rgba(23, 26, 36, 0.2) 100%);
}
@media screen and (max-width: 767px) {
  .price__list:first-child {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(9, 11, 19)), to(rgb(9, 11, 19)));
    background-image: linear-gradient(180deg, rgb(9, 11, 19) 0%, rgb(9, 11, 19) 100%);
  }
}
.price__list:last-child {
  padding-top: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(9, 11, 19)), to(rgba(9, 11, 19, 0.2)));
  background-image: linear-gradient(180deg, rgb(9, 11, 19) 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.price__item::before {
  display: inline-block;
  content: "";
  height: 1px;
  width: 1px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 12px;
  margin-right: 12px;
  background: rgba(157, 164, 189, 0.12);
}
.price__item:not(last-child) {
  margin-bottom: 20px;
}

.price__span {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

/* prices dark*/
/* why light */
.container__why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 44px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 84px;
  padding-bottom: 84px;
  /* outline: 2px solid tomato; */
}
@media screen and (max-width: 1199px) {
  .container__why {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .container__why {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .container__why {
    padding-top: 120px;
    padding-bottom: 129px;
    gap: 30px;
  }
}

.why__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 400px;
  gap: 30px;
}
@media screen and (max-width: 1199px) {
  .why__list {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .why__list {
    margin-left: auto;
    width: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .why__list {
    margin-left: auto;
    width: 400px;
  }
}

.why__item {
  display: inline-block;
  padding: 20px 24px;
  width: calc((100% - 30px - 30px) / 2);
  height: 133px;
  text-align: center;
  background-color: rgb(247, 247, 247);
}
@media screen and (min-width: 1200px) {
  .why__item {
    width: 170px;
  }
}
.why__item:nth-child(2n) {
  margin-top: 30px;
}

.why__subtitle {
  display: inline-block;
  position: relative;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3571428571;
  letter-spacing: 0.05em;
}

.why__icon {
  position: absolute;
  right: -16px;
  top: 15px;
}

.why__text {
  font-size: 11px;
  line-height: 1.3636363636;
}

.why-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /* outline: 2px solid rgb(74, 255, 71); */
}
@media screen and (max-width: 1199px) {
  .why-description {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.why-description .subtitle-second {
  text-align: left;
}
@media screen and (min-width: 480px) {
  .why-description .subtitle-second {
    width: 430px;
  }
}
@media screen and (max-width: 767px) {
  .why-description .subtitle-second {
    text-align: left;
  }
}

.why-description__text {
  display: inline-block;
  max-width: 418px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6666666667;
  /* or 167% */
  letter-spacing: 0.02em;
  color: rgb(85, 85, 85);
  text-align: left;
}
@media screen and (min-width: 768px) {
  .why-description__text {
    max-width: 100%;
    width: 500px;
  }
}

/* why  light*/
/* section__employees grey  */
.section__employees {
  background-color: rgb(247, 247, 247);
}

.container__employees {
  display: block;
  padding-top: 84px;
  padding-bottom: 84px;
  /* outline: 2px solid tomato; */
}
@media screen and (min-width: 768px) {
  .container__employees {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .container__employees {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .container__employees .subtitle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.employees__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .employees__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.employees__item {
  max-width: 100%;
}
@media screen and (min-width: 1200px) {
  .employees__item {
    width: calc(100% - 30px - 20px);
  }
}

.employees-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 0px;
  padding-left: 0;
  padding-right: 0px;
}

.employees__title {
  display: inline-block;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3888888889;
  letter-spacing: 0.02em;
  color: rgb(48, 48, 48);
}

.employees__text {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3571428571;
  letter-spacing: 0.02em;
  color: rgb(255, 108, 0);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin-top: 30px;
  gap: 10px;
  background-color: rgb(247, 247, 247);
}

.social__item {
  width: 44px;
  height: 44px;
  /* outline: 2px solid rgb(224, 83, 22); */
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  /* outline: 2px solid rgb(224, 22, 130); */
}
.social__link:hover, .social__link:focus {
  fill: rgb(255, 108, 0);
}

.social__img {
  background-color: rgb(255, 255, 255);
  fill: rgb(48, 48, 48);
  /* outline: 2px solid rgb(71, 255, 102); */
}
.social__link:hover .social__img, .social__link:focus .social__img {
  fill: rgb(255, 108, 0);
}

/*section__employees grey  */
/* section__gallery light */
.container__gallery {
  display: block;
  padding-top: 84px;
  padding-bottom: 84px;
  /* outline: 2px solid tomato; */
}
@media screen and (min-width: 768px) {
  .container__gallery {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .container__gallery {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.container__gallery .subtitle {
  margin-bottom: 44px;
}

.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .gallery__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.gallery__item {
  max-width: 100%;
}
@media screen and (min-width: 767px) {
  .gallery__item {
    width: calc((100% - 30px - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item {
    width: calc((100% - 30px - 90px) / 4);
  }
}

/* section__gallery light */
/* section__booking dark */
.section__booking {
  max-width: 1600px;
  margin: 0 auto;
  background-color: rgb(17, 19, 25);
  /* background-size: cover; */
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/booking/img480_480@1x-min.png");
  background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/booking/img480_480@1x-min.png");
  background-repeat: no-repeat;
  background-position: left 50% bottom 496px;
  /* background-size: cover; */
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section__booking {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/booking/img480_480@2x-min.png");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/booking/img480_480@2x-min.png");
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .section__booking {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/booking/img768_768@1x-min.png");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/booking/img768_768@1x-min.png");
    background-position: left 50% bottom 496px;
    background-size: cover;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .section__booking {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/booking/img768_768@2x-min.png");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/booking/img768_768@2x-min.png");
  }
}
@media screen and (min-width: 768px) {
  .section__booking {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/booking/img768_768@1x-min.png");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/booking/img768_768@1x-min.png");
    background-position: left 0% bottom 590px;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section__booking {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/booking/img768_768@2x-min.png");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/booking/img768_768@2x-min.png");
  }
}
@media screen and (min-width: 1200px) {
  .section__booking {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/booking/Bg1200_785@1x-min.png");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/booking/Bg1200_785@1x-min.png");
    background-repeat: no-repeat;
    background-position-x: calc(40vw + 30px);
    background-position-y: 50%;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section__booking {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/booking/Bg1200_785@2x-min.png");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/booking/Bg1200_785@2x-min.png");
  }
}

.container__booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  max-width: 480px;
  padding-right: 15px;
  padding-left: 15px;
  /* outline: 2px solid rgb(71, 255, 83); */
}
@media screen and (min-width: 480px) {
  .container__booking {
    gap: 0;
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container__booking {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
    width: 1200px;
    max-width: 100%;
  }
}

.item-book {
  padding-left: 0px;
  padding-top: 84px;
  padding-bottom: 84px;
  width: 100%;
  /* outline: 2px solid rgb(255, 218, 71); */
}
@media screen and (min-width: 768px) {
  .item-book {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .item-book {
    padding-top: 130px;
    padding-bottom: 120px;
    width: calc((100% - 30px - 30px) / 2);
  }
}

.item-book--position {
  padding-left: 30px;
}
@media screen and (min-width: 768px) {
  .item-book--position {
    padding-left: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .item-book--position {
    padding-left: 100px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .booking__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .booking__hours {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.addresses {
  margin-top: 40px;
  margin-bottom: 70px;
}

.addresses .item:not(last-child) {
  margin-bottom: 20px;
}

.link__address {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6666666667;
  /* or 167% */
  letter-spacing: 0.02em;
}

.booking__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 16px;
}

.addresses__item {
  width: 200px;
}

.link__booking-tel,
.link__booking-mail {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6666666667;
  /* identical to box height, or 167% */
  letter-spacing: 0.02em;
}

.link__booking-mail {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.link__address,
.link__booking-tel,
.link__booking-mail {
  color: rgb(157, 164, 189);
}

.booking__subtitle {
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}

/* form */
.form {
  margin-top: 44px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 44px;
}

.form__main-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 44px;
}
@media screen and (min-width: 768px) {
  .form__main-field {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
}

.form__label {
  position: relative;
}
@media screen and (min-width: 768px) {
  .form__label {
    width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .form__label {
    width: 270px;
  }
}

.input {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: unset;
  color: rgb(255, 255, 255);
  -webkit-transition: background-color 800ms ease;
  transition: background-color 800ms ease;
}
.input:focus {
  border-bottom: 1px solid rgb(255, 255, 255);
}
.input::-webkit-input-placeholder {
  opacity: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  /* identical to box height */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}
.input::-moz-placeholder {
  opacity: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  /* identical to box height */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}
.input:-ms-input-placeholder {
  opacity: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  /* identical to box height */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}
.input::-ms-input-placeholder {
  opacity: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  /* identical to box height */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}
.input::placeholder {
  opacity: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  /* identical to box height */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.form__input {
  height: 24px;
}

.form__span {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform-origin 800ms ease;
  transition: -webkit-transform-origin 800ms ease;
  transition: transform-origin 800ms ease;
  transition: transform-origin 800ms ease, -webkit-transform-origin 800ms ease;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  /* identical to box height */
  letter-spacing: 1.37px;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.form__input:focus + .form__span {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.form__comment {
  display: block;
  width: 100%;
  resize: none;
}
@media screen and (min-width: 768px) {
  .form__comment {
    width: 690px;
  }
}
@media screen and (min-width: 1200px) {
  .form__comment {
    width: 556px;
  }
}
.form__comment::-webkit-input-placeholder {
  opacity: 1;
}
.form__comment::-moz-placeholder {
  opacity: 1;
}
.form__comment:-ms-input-placeholder {
  opacity: 1;
}
.form__comment::-ms-input-placeholder {
  opacity: 1;
}
.form__comment::placeholder {
  opacity: 1;
}

/* form */
/* footer */
.container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 56px;
  padding-bottom: 56px;
  /* outline: 2px solid tomato; */
}

.copyright,
.footer__link {
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
}

.copyright {
  color: rgb(157, 164, 189);
}

.footer__link {
  color: rgb(48, 48, 48);
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  gap: 30px;
}

.footer__link--befor::before {
  display: inline-block;
  margin-right: 20px;
  content: "";
  width: 60px;
  height: 1px;
  background: rgb(48, 48, 48);
}

/* footer */
/*  for modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: rotateY(20deg) rotateX(35deg) translate(-50px, -50px) skew(-35deg, 10deg);
          transform: rotateY(20deg) rotateX(35deg) translate(-50px, -50px) skew(-35deg, 10deg);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: rotateY(0) rotateX(0deg) translate(-50%, -50%) skew(0deg, 0deg);
          transform: rotateY(0) rotateX(0deg) translate(-50%, -50%) skew(0deg, 0deg);
  opacity: 1;
  -webkit-transition: -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-modal {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-left: 41px;
  padding-right: 39px;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgb(255, 255, 255);
  border-color: transparent;
  /* border: 1px solid var(--color-titleleft-text); */
  border-radius: 50%;
}

.modal__subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgb(85, 85, 85);
}

.area-form {
  display: block;
  width: 100%;
  margin-top: 12px;
  margin-left: auto;
  margin-left: auto;
}

.modal__input {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 10px;
}

.modal__input,
.modal__area {
  font-size: 12px;
  line-height: 1.17;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
}

.modal__input input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid;
  border-color: rgb(48, 48, 48);
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
  -webkit-transition: border-color 800ms ease;
  transition: border-color 800ms ease;
  /* outline: 2px solid rgb(71, 255, 102); */
}

.modal__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

.modal__area + textarea {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 4px;
  width: 100%;
  height: 120px;
  border: 1px solid rgb(48, 48, 48);
  border-radius: 4px;
  resize: none;
  -webkit-transition: border-color 800ms ease;
  transition: border-color 800ms ease;
}

.modal__area + textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__area + textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__area + textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__area + textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__area + textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__input:focus-within input,
.modal__comment:focus-within textarea {
  outline: none;
  border: 1px solid;
  border-radius: 4px;
  border-color: rgb(255, 108, 0);
}

.icon-input {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: rgb(48, 48, 48);
  -webkit-transition: fill 800ms ease;
  transition: fill 800ms ease;
}
.modal__input:focus-within .icon-input {
  fill: rgb(255, 108, 0);
}

/* Checkbox */
.modal__input-check {
  position: absolute;
  left: 48px;
  bottom: 124px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 50%;
  border: 1px solid rgb(85, 85, 85);
  width: 18px;
  height: 18px;
  opacity: 1;
  padding: 0;
  margin: -1px;
  -webkit-transition: opacity 800ms ease;
  transition: opacity 800ms ease;
}
.modal__input-check:checked {
  opacity: 0;
}

.modal__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  width: 100%;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgb(85, 85, 85);
  /* outline: 2px solid rgb(71, 255, 102); */
}
.modal__checkbox a {
  padding-left: 4px;
  color: rgb(255, 108, 0);
}

.modal__icon-check {
  padding: 0;
  margin-right: 8px;
  opacity: 0;
  -webkit-transition: opacity 800ms ease;
  transition: opacity 800ms ease;
}
.modal__input-check:checked ~ .modal__icon-check {
  opacity: 1;
}

.modal__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}/*# sourceMappingURL=main.css.map */