:root {
  /* кольори */
  --color-prime-bacground: rgba(255, 255, 255);
  --color-text-prime: rgba(85, 85, 85);
  --color-accent: rgba(255, 108, 0);
  --color-subtitle-dark: rgba(157, 164, 189, 0.6);
  --color-herofooter-text: rgba(157, 164, 189, 1);
  --color-titleleft-text: rgba(48, 48, 48);
  --color-footer-forma-text: rgba(157, 164, 189, 0.4);
  --color-background-dark: rgba(17, 19, 25, 1);

  --color-background-secondary: rgba(247, 247, 247, 1);

  --color-hero-bcg: rgba(25, 28, 38, 0.2);
  /* bad --color-background-dark: rgb(25, 28, 38, 0.2); */
  /* шрифти
  Open Sans 400 600
  Raleway 700
  */

  /* other */
  --indent: 30px;
  --item-bookinh: 2;

  --header-idx: 10;
  --modal-idx: 100;
  --menu-idx: 1000;

  --anim-fast: 300ms ease-out;
  --anim-slow: 800ms ease;
  --cubick-link: cubic-bezier(0.4, 0, 0.2, 1);
}
/*reset*/
h1,
h2,
h3,
h4,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.img {
  display: block;
}
/*reset*/

body {
  background-color: var(--color-prime-bacground);
  color: var(--color-text-prime);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid tomato; */
}
.link:hover,
.link:focus {
  color: var(--color-accent);
}

/* Header */
.section-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--header-idx);

  width: 100%;
  /* outline: 2px solid rgb(71, 255, 83); */
}
/* .container-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;*/
/* outline: 2px solid tomato; */
/* }  */
.logo-link {
  display: inline-block;
  margin-right: 132px;

  /* outline: 2px solid tomato; */
}
/* .header__logo {
  fill: #303030;

  transition: fill var(--anim-slow);
} */

.header__logo {
  fill: #ffffff;
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 12px; */
  /* padding-bottom: 20px; */
  /* padding-left: calc(100px + 15px); */
  /* padding-right: 20px; */
  transition: background-color var(--anim-slow),
    backdrop-filter var(--anim-slow);
  /* outline: 2px solid rgb(255, 71, 191); */
}
.section-header {
  /* background-color: rgba(25, 28, 38, 0.7); */
  background-image: linear-gradient(
    to bottom,
    rgba(25, 28, 38, 0.7),
    rgba(25, 28, 38, 0.1) /* rgba(141, 178, 179, 0.7) */
  );
  backdrop-filter: blur(3px);
}
.header__nav {
  position: relative;
  display: block;
  padding-top: 52px;
  padding-bottom: 52px;

  margin-left: auto;
  margin-right: 43px;

  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  color: var(--color-prime-bacground);
}
.current {
  color: var(--color-accent);
}

.header__nav::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 20%;

  transform: translateX(-50%) scaleX(0.3);

  display: block;
  width: 95%;
  height: 4px;

  border-radius: 2px;

  background-color: var(--color-accent);
  opacity: 0;
  transition: transform var(--anim-fast), opacity var(--anim-fast);
}

.header__nav:hover::after,
.header__nav:focus::after {
  transform: translateX(-50%) scaleX(1);
  opacity: 1;
}

.btn {
  width: 160px;
  height: 40px;

  font-family: inherit;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 25px;
  border-color: var(--color-accent);
}
.btn:hover,
.btn:focus {
  color: var(--color-accent);
}
.btn--light {
  background-color: transparent;
  color: var(--color-prime-bacground);
}
.header__btn {
  animation: heartbeat 5s ease-in-out infinite both;
}
/* header */

/* Hero */
.section__hero {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  max-width: 1200px;
  margin: 0 auto;
  /* for backgrond img */
  /* sbackground-color: var(--color-background-dark); */
  /* outline: 2px solid rgb(71, 255, 83); */
}
/* hero-header-left */
.hero__left-side {
  width: 100px;
  display: flex;
  align-items: flex-end;
  /* outline: 2px solid tomato; */
}

.hero__media-list {
  transform: rotate(-90deg) translateY(40px);
  transform-origin: left;
  /* outline: 2px solid rgb(111, 71, 255); */
}
.media__list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.media__list::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;

  background-color: var(--color-titleleft-text);
}

.media__link {
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: var(--color-titleleft-text);

  transition: color var(--anim-fast);
}

.media__link:hover,
.media__link:focus {
  color: var(--color-accent);
}
/* hero-header-left */

.container__hero {
  position: relative;

  display: block;
  background-color: var(--color-background-dark);
  background-image: linear-gradient(
      to right,
      var(--color-hero-bcg),
      var(--color-hero-bcg)
    ),
    url("../images/SliderImg3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 272px;
  padding-bottom: 208px;
  padding-left: 100px;

  /* outline: 2px solid rgb(193, 206, 42); */
}

.hero__prime {
  /* display: flex; */
  display: inline-block;
  text-align: left;
  margin-left: 0px;
  margin-top: 0px;
}
/* .hero__title {
  display: inline-block;
  text-align: left;
} */
.list-header-right {
  display: flex;
}
.list-header-right li {
  gap: var(--indent);
}

.subtitle--light {
  color: var(--color-subtitle-dark);
}

.hero__title {
  margin-top: 20px;
  margin-bottom: 20px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 72px;
  line-height: calc(85 / 72);
  /* identical to box height */
  letter-spacing: 0.05em;

  animation: left-to-right var(--anim-slow);
}
.title--light {
  color: var(--color-prime-bacground);
}
.text--light {
  color: var(--color-herofooter-text);
}
.hero__subtitle {
  animation: top-to-bottom var(--anim-slow);
}
.hero__text {
  animation: bottom-to-top var(--anim-slow);
}
/*hero*/

/*slider-pagination*/
.slider-pagination--position {
  position: absolute;
  top: 50%;
  right: 20px;
}
.slider-pagination__item {
  width: 8px;
  height: 2px;
  margin-bottom: 12px;
  margin-left: auto;
  background-color: var(--color-herofooter-text);
}
.slider-pagination__item.long {
  width: 18px;
  background-color: var(--color-prime-bacground);
}
.slider-pagination__item:last-child {
  margin-bottom: 0px;
}
/*slide__btns*/
.slide__btns {
  position: absolute;
  bottom: 40px;
  right: 20px;
}
.slide__list {
  display: flex;
  gap: 24px;

  /* font-family: "Open Sans";
  font-style: normal;
  font-weight: 600; */
  font-size: 11px;
  line-height: calc(15px / 11px);
  /* identical to box height */

  letter-spacing: 0.1em;
}
.slider__btn {
  display: inline-block;
  padding: 0;
  min-width: 60px;
  min-height: 24px;
  color: var(--color-subtitle-dark);
  background-color: transparent;
  border: none;

  border-bottom: 1px solid var(--color-subtitle-dark);
  cursor: pointer;
}
.slider__btn.prev {
  text-align: left;
}
.slider__btn.next {
  text-align: right;
}

.slider__btn.active {
  color: var(--color-prime-bacground);
  border-bottom-color: var(--color-prime-bacground);
}
/* Hero */

/* all */
.subtitle {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 11px;
  line-height: calc(15 / 11);
  /* identical to box height */
  text-transform: uppercase;
}

.subtitle::before {
  display: inline-block;

  content: "";
  width: 60px;
  height: 1px;

  background: var(--color-subtitle-dark);
}
.subtitle::before .subtitle--dark {
  background: var(--color-titleleft-text);
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(30 / 18);
  /* or 167% */
  letter-spacing: 0.02em;
}
/* all */

/* About light*/
.section__about {
  margin-top: 120px;
  margin-bottom: 120px;
  /* outline: 2px solid rgb(23, 7, 243); */
}
.container__about {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
  /* gap: 30px; */
  /* outline: 2px solid tomato; */
}

.about__list-img {
  display: flex;
  gap: var(--indent);

  /* outline: 2px solid rgb(243, 7, 7); */
}
.about-description {
  display: block;
  padding: 0px;
  width: 470px;

  height: 100%;
  margin: 0px;

  /* outline: 2px solid rgb(206, 42, 42); */
}
.about-description__item {
  margin-bottom: 20px;
}
.about-description__item-last {
  margin-bottom: 0px;
}

.btn-about {
  margin-top: 42px;
}
.subtitle--dark {
  color: var(--color-titleleft-text);
}
.text--dark {
  color: var(--color-text-prime);
}
.subtext {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(26 / 14);
  /* or 186% */
  letter-spacing: 0.02em;
}
.title-second {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}
.title-second--dark {
  color: var(--color-titleleft-text);
}
.btn--dark {
  background-color: transparent;
  color: var(--color-titleleft-text);
}
/* About light*/

/* prices dark */
.section__prices {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-background-dark);
  /* for backgrond img */
  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      var(--color-hero-bcg),
      var(--color-hero-bcg)
    ),
    url("../images/PricesBCG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container__prices {
  display: block;
  padding-top: 120px;
  padding-bottom: 120px;

  /* outline: 2px solid tomato; */
}
.container-prices .title-second {
  margin-top: 20px;
  margin-bottom: 44px;
}
.price__btn {
  display: block;
  margin-top: 44px;
  margin-left: auto;
  margin-right: auto;
}
.prices__lists {
  display: flex;
  gap: var(--indent);
}
.price__list {
  width: 570px;
  padding: 30px 20px;
  /* outline: 2px solid tomato; */
}
.price__list:first-child {
  background-image: linear-gradient(
    180deg,
    rgb(23, 26, 36) 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}
.price__item {
  display: flex;
  align-items: baseline;
}
.price__item::before {
  display: inline-block;
  content: "";
  height: 1px;
  width: 1px;
  flex-grow: 1;
  margin-left: 12px;
  margin-right: 12px;
  background: rgba(157, 164, 189, 0.12);
}
.price__span {
  order: -1;
}
.price__list:last-child {
  background-image: linear-gradient(
    180deg,
    rgb(9, 11, 19) 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}
.price__item:not(last-child) {
  margin-bottom: 20px;
}
/* prices dark*/

/* why light */
.container__why {
  display: flex;
  justify-content: center;

  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 120px;
  padding-bottom: 129px;
  gap: var(--indent);
  /* outline: 2px solid tomato; */
}

.why__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  width: calc((100% - 30px - var(--indent)) / var(--item-bookinh));
  /* outline: 2px solid rgb(86, 71, 255); */
}
.why__item {
  display: inline-block;
  padding: 20px 24px;
  width: 170px;
  height: 133px;
  text-align: center;
  background-color: var(--color-background-secondary);
}
.why__item:nth-child(2n) {
  margin-top: 30px;
}
.why__subtitle {
  display: inline-block;
  position: relative;

  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  letter-spacing: 0.05em;
}

.why__icon {
  position: absolute;
  right: -16px;
  top: 15px;
}
.why-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* outline: 2px solid rgb(74, 255, 71); */
}

.why-description .title-second {
  width: 430px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.why__text {
  font-size: 11px;
  line-height: calc(15 / 11);
}
.why-description__text {
  display: inline-block;
  width: 500px;
  text-align: left;
}
/* why  light*/

/* section__employees grey  */
.section__employees {
  background-color: var(--color-background-secondary);
}
.container__employees {
  display: block;
  padding-top: 120px;
  padding-bottom: 120px;
  /* outline: 2px solid tomato; */
}
.section__employees .title-second {
  margin-top: 20px;
  margin-bottom: 44px;
}
.employees__cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  gap: var(--indent);
}
.employees__item {
  --item-bookinh: 3;
  width: calc(100% - 30px - (var(--indent) * (var(--item-bookinh)-1))) /
    var(--item-bookinh);
}

.employees-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 30px;
  padding-bottom: 0px;
  padding-left: 0;
  padding-right: 0px;
}
.employees__title {
  display: inline-block;
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);

  letter-spacing: 0.02em;

  color: var(--color-titleleft-text);
}
.employees__text {
  display: inline-block;

  font-weight: 400;
  font-size: 14px;
  line-height: calc(19 / 14);

  letter-spacing: 0.02em;

  color: var(--color-accent);
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-top: 30px;
  gap: 10px;
  background-color: var(--color-background-secondary);
}
.social__item {
  width: 44px;
  height: 44px;
  /* outline: 2px solid rgb(224, 83, 22); */
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-prime-bacground);
  /* outline: 2px solid rgb(224, 22, 130); */
}
.social__img {
  background-color: var(--color-prime-bacground);
  fill: var(--color-titleleft-text);
  /* outline: 2px solid rgb(71, 255, 102); */
}
.social__link:hover,
.social__link:focus,
.social__link:hover .social__img,
.social__link:focus .social__img {
  fill: var(--color-accent);
}
/*section__employees grey  */

/* section__gallery light */
.container__gallery {
  display: block;
  padding-top: 120px;
  padding-bottom: 120px;
  /* outline: 2px solid tomato; */
}
.section__gallery .subtitle {
  margin-bottom: 44px;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.gallery__item {
  --item-bookinh: 4;
  width: calc(100% - 30px - (var(--indent) * (var(--item-bookinh)-1))) /
    var(--item-bookinh);
}
/* section__gallery light */

/* section__booking dark */
.section__booking {
  max-width: 1600px;
  margin: 0 auto;

  background-color: var(--color-background-dark);
}
.container__booking {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1200px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  gap: var(--indent);

  /* outline: 2px solid rgb(71, 255, 83); */
}
.booking__bcgimage {
  /* for backgrond img */
  /* width: calc((100% - 30px - var(--indent)) / var(--item-bookinh)); */

  background-image: linear-gradient(
      to right,
      var(--color-hero-bcg),
      var(--color-hero-bcg)
    ),
    url("../images/ContactsBCG.png");
  background-repeat: no-repeat;
  background-position: left calc(50% + 410px) top 50%;
  /* background-size: cover; */
}

.item-book {
  padding-top: 130px;
  padding-bottom: 120px;
  padding-left: 0px;

  width: calc((100% - 30px - var(--indent)) / var(--item-bookinh));
  /* outline: 2px solid rgb(255, 218, 71); */
}
.item-book--position {
  padding-left: 100px;
}

.addresses {
  margin-top: 40px;
  margin-bottom: 70px;
}
.addresses .item:not(last-child) {
  margin-bottom: 20px;
}
.link__address {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(30 / 18);
  /* or 167% */
  letter-spacing: 0.02em;
}
.booking__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.addresses__item {
  width: 200px;
}
.link__booking-tel,
.link__booking-mail {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(30 / 18);
  /* identical to box height, or 167% */
  letter-spacing: 0.02em;
}
.link__booking-mail {
  text-decoration-line: underline;
}
.link__address,
.link__booking-tel,
.link__booking-mail {
  color: var(--color-herofooter-text);
}
.booking__subtitle {
  margin-bottom: 20px;
  color: var(--color-prime-bacground);
}
/* form */
.form {
  margin-top: 44px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 44px;
}
.form__main-field {
  display: flex;
  align-items: center;
  gap: 30px;
}
.form__label {
  width: 270px;
}
.form__label {
  position: relative;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  /* identical to box height */
  letter-spacing: 1.37px;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.form__input {
  height: 24px;
}
.form__span {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: transform-origin var(--anim-slow);
}
.form__input:focus + .form__span {
  transform: translateY(-500%);
}

.input {
  width: 100%;
  border: none;
  background-color: transparent;

  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: unset;
  color: var(--color-prime-bacground);
  transition: background-color var(--anim-slow);
}
.input:focus {
  border-bottom: 1px solid var(--color-prime-bacground);
}

.input::placeholder {
  opacity: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  /* identical to box height */

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.4);
}
.form__comment {
  display: block;
  width: 100%;
  resize: none;
}
.form__comment::placeholder {
  opacity: 1;
}

/* form */
/* section__booking dark */

/* footer */
.container-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 56px;
  padding-bottom: 56px;
  /* outline: 2px solid tomato; */
}

.copyright,
.footer-link {
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
}
.copyright {
  color: var(--color-herofooter-text);
}
.footer-link {
  color: var(--color-titleleft-text);
}
.footer-social {
  display: flex;
  margin-left: auto;
  gap: var(--indent);
}
/* footer */
/*  for modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;

  background: rgba(0, 0, 0, 0.2);

  transition: opacity 1000ms var(--cubick-link);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: rotateY(20deg) rotateX(35deg) translate(-50px, -50px)
    skew(-35deg, 10deg);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;

  background: var(--color-prime-bacground);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: rotateY(0) rotateX(0deg) translate(-50%, -50%) skew(0deg, 0deg);
  opacity: 1;

  transition: transform 1000ms var(--cubick-link);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-prime-bacground);
  border-color: transparent;
  /* border: 1px solid var(--color-titleleft-text); */
  border-radius: 50%;
}
.btn-icon-close {
  fill: var(--color-titleleft-text);
  transition: fill var(--anim-slow);
}
/* .modal-btn:focus .btn-icon-close,
.modal-btn:hover .btn-icon-close {
  fill: var(--color-blue);
} */
.backdrop-modal {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-left: 41px;
  padding-right: 39px;
}

.modal__subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--color-text-prime);
}
.area-form {
  display: block;
  width: 100%;
  margin-top: 12px;
  margin-left: auto;
  margin-left: auto;
}

.modal__input {
  position: relative;

  display: block;
  width: 100%;
  margin-top: 10px;
}
.modal__input,
.modal__area {
  font-size: 12px;
  line-height: 1.17;
  /* identical to box height */
  letter-spacing: 0.01em;

  color: rgb(117, 117, 117);
}
.modal__input input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid;
  border-color: var(--color-titleleft-text);
  border-radius: 4px;

  padding-left: 42px;
  margin-top: 4px;
  transition: border-color var(--anim-slow);

  /* outline: 2px solid rgb(71, 255, 102); */
}

.modal__comment {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

.modal__area + textarea {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;

  margin-top: 4px;

  width: 100%;
  height: 120px;
  border: 1px solid var(--color-titleleft-text);
  border-radius: 4px;

  resize: none;

  transition: border-color var(--anim-slow);
}
.modal__area + textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.modal__input:focus-within input,
.modal__comment:focus-within textarea {
  outline: none;
  border: 1px solid;
  border-radius: 4px;
  border-color: var(--color-accent);
}

.icon-input {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: var(--color-titleleft-text);
  transition: fill var(--anim-slow);
}

.modal__input:focus-within .icon-input {
  fill: var(--color-accent);
}

/* Checkbox */
.modal__input-check {
  position: absolute;
  left: 48px;
  bottom: 124px;
  appearance: none;
  border-radius: 50%;
  border: 1px solid var(--color-text-prime);
  width: 18px;
  height: 18px;
  opacity: 1;
  padding: 0;
  margin: -1px;
  transition: opacity var(--anim-slow);

  /* white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  */
}
.modal__input-check:checked {
  opacity: 0;
}

.modal__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--color-text-prime);
  /* outline: 2px solid rgb(71, 255, 102); */
}
.modal__checkbox .modal__icon-check {
  padding: 0;
  margin-right: 8px;
  opacity: 0;
  transition: opacity var(--anim-slow);
}
.modal__input-check:checked ~ .modal__icon-check {
  opacity: 1;
}
.modal__checkbox a {
  padding-left: 4px;
  color: var(--color-accent);
}

.modal__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

/* animation */
@keyframes left-to-right {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes top-to-bottom {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes bottom-to-top {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  6% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  8% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  14% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  20% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
