.menu {
  display: flex;

  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu-toggle {
  max-height: 40px;
  max-width: 40px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  //   margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  //   border-radius: 50%;
  outline: none;
  //   outline: 2px solid rgb(71, 255, 71);
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  fill: $color-accent;
}

.menu-container {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100vw;
  //width: 80vw;
  height: 100vh;
  padding-top: 48px;
  padding-left: 40px;
  background-color: $color-prime-bacground;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  &.is-open {
    // transform: translateX(0);
    transform: translateX(20%);
  }

  & .menu-toggle {
    position: absolute;
    top: 48px;
    right: 30%;
  }
  & .menu__nav,
  & .menu__contacts,
  & .menu-media__list {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}
.menu__nav {
  margin-top: 118px;
  //   outline: 2px solid rgb(111, 71, 255);
}
.menu__header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.menu__link {
  font-size: 18px;
  line-height: calc(25 / 18);
  /* identical to box height */

  letter-spacing: 0.1em;

  color: $color-titleleft-text;
  &:hover {
    color: $color-accent;
  }
}
.menu__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;

  margin-top: 64px;
  //   outline: 2px solid rgb(255, 126, 71);
}
.menu__phone {
  text-transform: uppercase;
}
.menu-media__list {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-top: 64px;
  margin-left: 100px;
}
.menu-media__item {
  &:before {
    position: relative;
    left: -100%;
    top: 0;
    transform: translateY(10px);

    content: "";
    display: block;
    width: 60px;
    height: 1px;
    background-color: $color-titleleft-text;
  }
}
.menu-media__link {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(19 / 14);
  /* identical to box height */
  letter-spacing: 0.2em;
  color: $color-titleleft-text;

  transition: color $anim-fast;
  &:hover,
  &:focus {
    color: $color-accent;
  }
}
.menu__btn {
  width: 194px;
}
