/* section__employees grey  */
.section__employees {
  background-color: $color-background-secondary;
}
.container__employees {
  display: block;
  padding-top: 84px;
  padding-bottom: 84px;
  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  & .subtitle {
    @media screen and (min-width: 480px) and (max-width: 1199px) {
      justify-content: center;
    }
  }
  /* outline: 2px solid tomato; */
}
.employees__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: $indent;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}
.employees__item {
  max-width: 100%;
  @media screen and (min-width: 1200px) {
    $item-bookinh: 3;
    width: calc(
      100% - 30px - ($indent * (($item-bookinh) - 1)) / $item-bookinh
    );
  }
}

.employees-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 30px;
  padding-bottom: 0px;
  padding-left: 0;
  padding-right: 0px;
}
.employees__title {
  display: inline-block;
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);

  letter-spacing: 0.02em;

  color: $color-titleleft-text;
}
.employees__text {
  display: inline-block;

  font-weight: 400;
  font-size: 14px;
  line-height: calc(19 / 14);

  letter-spacing: 0.02em;

  color: $color-accent;
}

// social
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-top: 30px;
  gap: 10px;
  background-color: $color-background-secondary;
}
.social__item {
  width: 44px;
  height: 44px;
  /* outline: 2px solid rgb(224, 83, 22); */
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $color-prime-bacground;
  /* outline: 2px solid rgb(224, 22, 130); */
  &:hover,
  &:focus {
    fill: $color-accent;
  }
}
.social__img {
  background-color: $color-prime-bacground;
  fill: $color-titleleft-text;
  .social__link:hover &,
  .social__link:focus & {
    fill: $color-accent;
  }

  /* outline: 2px solid rgb(71, 255, 102); */
}
/*section__employees grey  */
