/* form */
.form {
  margin-top: 44px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 44px;
}
.form__main-field {
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 44px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
}
// .form__label {
// }
.form__label {
  position: relative;
  // flex-basis: 270px;
  // width: 100%;
  @media screen and (min-width: 768px) {
    width: 330px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
  // outline: 2px solid rgb(255, 218, 71);

  // font-weight: 600;
  // font-size: 11px;
  // line-height: 1.37;
  // /* identical to box height */
  // letter-spacing: 1.37px;
  // text-transform: uppercase;
  // color: $color-footer-forma-text;
}
.input {
  width: 100%;
  border: none;
  background-color: transparent;

  border-bottom: 1px solid $color-footer-forma-text;
  outline: unset;
  color: $color-prime-bacground;
  transition: background-color $anim-slow;
  &:focus {
    border-bottom: 1px solid $color-prime-bacground;
  }
  &::placeholder {
    opacity: 0;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    /* identical to box height */

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: $color-footer-forma-text;
  }
}

.form__input {
  height: 24px;
}
.form__span {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: transform-origin $anim-slow;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  /* identical to box height */
  letter-spacing: 1.37px;
  text-transform: uppercase;
  color: $color-footer-forma-text;
  // outline: 2px solid rgb(255, 218, 71);
}
.form__input:focus + .form__span {
  transform: translateY(-100%);
}

.form__comment {
  display: block;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 690px;
  }
  @media screen and (min-width: 1200px) {
    width: 556px;
  }

  resize: none;
  &::placeholder {
    opacity: 1;
  }
}

/* form */
